# Database configuration
DB_HOST=localhost
DB_PORT=5433
DB_NAME=fraud_detection_db
DB_USER=fraud_user
DB_PASSWORD=fraud_password

# PostgreSQL Docker service name
DB_DOCKER_HOST=fraud_postgres

# pgAdmin
PGADMIN_EMAIL=admin@fraud.com
PGADMIN_PASSWORD=admin123

# Project paths
RAW_DATA_PATH=data/raw/transactions_raw.csv
PROCESSED_DATA_PATH=data/processed/transactions_processed.csv
SAMPLE_DATA_PATH=data/sample/sample_transactions.csv

# Machine Learning
MODEL_PATH=models/fraud_model.pkl
MODEL_METRICS_PATH=models/model_metrics.json

# App
APP_NAME=financial-fraud-detection-platform
ENVIRONMENT=development